.login-container--image {
  font-family: 'Roboto', 'Nanum Gothic Coding';
  background: whitesmoke;
  width: 100vw;
  height: 100vh;
  background-image: url('http://localhost:8001/img/login.webp');
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}


.login-container--wrapper {
  background: #efefef;
  width: 650px;
  height: 430px;
  opacity: 0.97;
  border-radius: 6px;
}


.login-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;
}


.login-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  header {
    font-weight: 600;
    font-size: 62px;
    margin-bottom: 25px;
  }
  p {
    font-size: 13pt;
    margin-bottom: 15px;
    font-weight: 600;
  }
}


.login-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}



form.local-login {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 260px;

  input {
    opacity: 1;
    padding: 10px 7px;
    border: none;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    outline: none;
    &:nth-child(1) {
      margin-bottom: 35px;
    }
  }
  button {
    padding: 15px 45px;
    width: 140px;
    margin-top: 25px;
    border: none;
    background: #70d3d3;
    color: white;
    font-weight: 600;
    border-radius: 6px;
    align-self: flex-end;
    opacity: 1;
  }
}

.foreign-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    width: 280px;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(189, 189, 189);
  }
}

.joinus {
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    color: black;
    padding: 0px 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid grey;
  }
}

