mixin boardCard
  .board-card-wrapper
    .board-card
      a.banner-wrapper(href="")
        .banner
          .banner-title
            p test: this is banner
          .banner-subtitle
            p test: this is sub title.
      .board-info
        .board-writer
          .profile
            div
            a(href="#") test: User
        .board-like
          label like
          p.count 0               