mixin boardCard(title, content, image, writer)
  .board-card-wrapper
    .board-card
      a.banner-wrapper(href="")
        .banner
          .banner-title
            p #{title}
          .banner-subtitle
            p Funless
      .board-info
        .board-writer
          .profile
            div
            a(href="#") #{writer}
        .board-like
          label like
          p.count 0                  