.header-wrapper
  nav.header
    .header-leftside
      span
        i.fas.fa-meh
      span 
        a(href="/") Funless
    .header-center
      form.search
        input#searchbar
        .searchbar_placeholder
          i.fas.fa-search
          label(for="searchbar") searching for you want..
    .header-rightside
      if !user
        a(href="/auth/login") 로그인/가입
      else
        a(href="/user/") My Profile
        a(href="/auth/logout") 로그아웃
.header-wrapper
  nav.header
    .second_header
      ul.category-list
        li.category-item
          a(href="#") Home
        li.category-item
          a(href="#") Home
        li.category-item
          a(href="#") Home
        li.category-item
          a(href="#") Home
        li.category-item
          a(href="#") Home
        li.category-item
          a(href="#") Home
