@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Roboto&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  height: 4rem;
  width: 100vw;
  font-family: "Roboto", "Nanum Gothic Coding";
}

.header {
  display: flex;
  justify-content: space-between;
}
.header .header-leftside {
  margin-left: 30px;
  display: flex;
  height: 32px;
  margin-top: 10px;
}
.header .header-leftside i {
  font-size: 2rem;
}
.header .header-leftside span:nth-child(2) {
  margin-left: 10px;
  font-size: 15pt;
  align-self: center;
}
.header .header-center {
  margin-top: 10px;
}
.header .header-center input {
  width: 430px;
  padding: 10px 0;
  outline: none;
  border: 1px solid #e7e7e7;
  background: #f7f7f7;
  border-radius: 35px;
  text-align: center;
  z-index: 19;
}
.header .header-rightside {
  margin-right: 30px;
  margin-top: 20px;
}
.header .header-rightside a {
  width: 120px;
  background: black;
  text-decoration: none;
  color: white;
  padding: 7px 15px;
  border-radius: 35px;
  font-size: 11pt;
}
.header .header-rightside a:hover {
  background: #292929;
}

.second_header {
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 6px -6px #cacaca;
}
.second_header .category-list {
  display: flex;
  height: 21px;
}
.second_header .category-list .category-item {
  margin-left: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}
.second_header .category-list .category-item a {
  text-decoration: none;
  color: black;
}

.searchbar_placeholder {
  color: #9e9e9e;
  display: flex;
  position: relative;
  left: 30%;
  top: -27px;
  z-index: 20;
}
.searchbar_placeholder label {
  margin-left: 5px;
}

footer {
  float: inline-end;
  bottom: 0;
  background: silver;
  padding: 30px;
}

.board-wrapper {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  display: grid;
}

.top-banners {
  display: grid;
  grid-template-columns: [first] 1.5fr repeat(3, 1fr);
  height: 320px;
}

.board-big-card-wrapper {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
}
.board-big-card-wrapper .board-big-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.board-big-card-wrapper .board-big-card .banner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5)), url("http://localhost:8001/img/top1.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 5px 5px 0px 0px;
}
.board-big-card-wrapper .board-big-card .banner-wrapper .banner .banner-title {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 15pt;
  font-weight: 600;
}
.board-big-card-wrapper .board-big-card .banner-wrapper .banner .banner-subtitle {
  text-align: center;
}
.board-big-card-wrapper .board-big-card .board-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background: whitesmoke;
  border-radius: 0px 0px 5px 5px;
}
.board-big-card-wrapper .board-big-card .board-info .board-writer .profile {
  display: flex;
  align-items: center;
  padding: 5px;
}
.board-big-card-wrapper .board-big-card .board-info .board-writer .profile div {
  width: 32px;
  height: 32px;
  background: black;
  border-radius: 35px;
}
.board-big-card-wrapper .board-big-card .board-info .board-writer .profile a {
  margin-left: 8px;
  text-decoration: none;
  color: black;
}
.board-big-card-wrapper .board-big-card .board-info .board-like {
  padding: 5px;
  text-align: center;
}

.board-card-wrapper {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
}

.board-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.board-card .banner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5)), url("http://localhost:8001/img/top2.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 5px 5px 0px 0px;
}
.board-card .banner-wrapper .banner .banner-title {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 12pt;
  font-weight: 600;
}
.board-card .banner-wrapper .banner .banner-subtitle {
  text-align: center;
}
.board-card .board-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background: whitesmoke;
  border-radius: 0px 0px 5px 5px;
}
.board-card .board-info .board-writer .profile {
  display: flex;
  align-items: center;
  padding: 5px;
}
.board-card .board-info .board-writer .profile div {
  width: 32px;
  height: 32px;
  background: black;
  border-radius: 35px;
}
.board-card .board-info .board-writer .profile a {
  margin-left: 8px;
  text-decoration: none;
  color: black;
}
.board-card .board-info .board-like {
  padding: 5px;
  text-align: center;
}

main {
  height: 100vh;
}
