<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login & Join
    link(rel="stylesheet", href="/styles.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous")
  body
    .login-container--image
      .login-container--wrapper
        .login-box
          .login-title
            header Funless
            p 로그인
          .login-contents
            form.local-login
              input.input-id(placeholder="enter your id..")
              input.input-pw(type="password" placeholder="enter your password..")
              button(type="submit") 로그인
            form.foreign-login
              button.external-login--btn 로그인
              button.external-login--btn 로그인
              button.external-login--btn 로그인
          .joinus
            a(href="/join") Did you haven't account?
