<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Funless
    link(rel="stylesheet", href="/styles.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous")
  body
    include ../partials/header
    main
      .form-wrapper
        form.post-form(method="post" action="/post/form" enctype="multipart/form-data")
          .text-form
            label.post-form-title(for="title") title
            input.post-form-input(placeholder="Write the Title" name="title" )
            .file-upload
              label.post-form-title(for="file") attach images..
              .file-label
                label.upload-btn(for="file") File Attach
                  input.upload-file(type="file" name="file" id="file" accept="image/*")
                input.show-file(type="text" readOnly=true) 
            label.post-form-content__label(for="contents") comments 
            textarea.post-form-content(name="contents" placeholder="comment here..")
          button.post-form__submit(type="submit") Post!
    include ../partials/footer
    script(src="/main.js" self)